<br>
<p-toast></p-toast>

<div class="col-sm-9" style="margin: 0 auto; height: 88vh">
    <p-card header="Veículos" [style]="{height: '88vh'}">
        <button pButton pRipple type="button" label="Adicionar" class="p-button-raised" icon="pi pi-save"
            (click)="showModalDialog()"></button>

            <hr>

            <p-table [value]="carros">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Modelo</th>
                        <th>Cor</th>
                        <th>Ano</th>
                        <th>Placa</th>
                        <th>Descrição</th>
                        <th>Valor de Compra</th>
                        <th>Valor de Venda</th>
                        <th>Data de Compra</th>
                        <th>Data de Venda</th>
                        <th>IPVA Pago</th>
                        <th>Vendido</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                    <tr>
                        <td>{{car.modelo}}</td>
                        <td>{{car.cor}}</td>
                        <td>{{car.ano}}</td>
                        <td>{{car.placa}}</td>
                        <td>{{car.descricao}}</td>
                        <td>{{car.valorComprado}}</td>
                        <td>{{car.valorVenda}}</td>
                        <td>{{car.dataCompra}}</td>
                        <td>{{car.dataVenda}}</td>
                        <td>{{car.ipvaPago}}</td>
                        <td>{{car.vendido}}</td>

                    </tr>
                </ng-template>
            </p-table>

    </p-card>
</div>

<p-dialog header="Veículos" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <form class="form-example" [formGroup]="carroForm">
        <div class="form-row">
            <br>

            <div class="col">
                <label for="txtModelo"><b>Modelo</b></label>
                <input type="text" class="form-control" id="txtModelo" maxlength="100" placeholder="Modelo" formControlName="txtModelo"
                    required
                    [ngClass]="{'is-invalid': carroForm.get('txtModelo').errors && (carroForm.get('txtModelo').touched || carroForm.get('txtModelo').dirty)}">
                <span class="text-danger"
                    *ngIf="carroForm.get('txtModelo').errors && (carroForm.get('txtModelo').touched || carroForm.get('txtModelo').dirty)">
                    <p><b>Preencha o campo "Modelo"</b></p>
                </span>
            </div>

            <div class="col">
                <label for="txtCor"><b>Cor</b></label>
                <input type="text" class="form-control" id="txtCor" maxlength="100" placeholder="Cor" formControlName="txtCor" required
                    [ngClass]="{'is-invalid': carroForm.get('txtCor').errors && (carroForm.get('txtCor').touched || carroForm.get('txtCor').dirty)}">
                <span class="text-danger"
                    *ngIf="carroForm.get('txtCor').errors && (carroForm.get('txtCor').touched || carroForm.get('txtCor').dirty)">
                    <p><b>Preencha o campo "Cor"</b></p>
                </span>
            </div>

        </div>
        <br>
        <div class="form-row">
            <div class="col">
                <label for=""><b>Data de Fabricação</b></label>
            </div>
            <div class="col">
                <label for=""><b>Placa</b></label>
            </div>
            <div class="col">
                <label for=""><b>Valor Comprado</b></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <p-calendar dataType="string" formControlName="txtAnoCarro" placeholder="Data de Fabricação"
                    [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [locale]="br"
                    dateFormat="dd/mm/yy" inputId="spanish" required>
                </p-calendar>
            </div>

            <div class="col">
                <p-inputMask mask="***-****" [style]="{'text-transform': 'uppercase'}" type="text" id="txtPlaca"
                    placeholder="" formControlName="txtPlaca" required
                    [ngClass]="{'is-invalid': carroForm.get('txtPlaca').errors && (carroForm.get('txtPlaca').touched || carroForm.get('txtPlaca').dirty)}">
                </p-inputMask>
                <span class="text-danger"
                    *ngIf="carroForm.get('txtPlaca').errors && (carroForm.get('txtPlaca').touched || carroForm.get('txtPlaca').dirty)">
                    <p><b>Preencha o campo "Placa"</b></p>
                </span>
            </div>
            <div class="col">
                <p-inputNumber formControlName="txtValorComprado" id="txtValorComprado" mode="currency"
                    currency="BRL" locale="pt-BR">
                </p-inputNumber>
                <span class="text-danger"
                    *ngIf="carroForm.get('txtValorComprado').errors && (carroForm.get('txtValorComprado').touched || carroForm.get('txtValorComprado').dirty)">
                    <p><b>Preencha o campo "Valor de Compra"</b></p>
                </span>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col">
                <label for=""><b>Valor de Venda</b></label>
            </div>
            <div class="col">
                <label for=""><b>Data de Compra</b></label>
            </div>
            <div class="col">
                <label for=""><b>Data de Venda</b></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <p-inputNumber formControlName="txtValorVenda" id="txtValorVenda" value="" mode="currency"
                    currency="BRL" locale="pt-BR">
                </p-inputNumber>
                <span class="text-danger"
                    *ngIf="carroForm.get('txtValorVenda').errors && (carroForm.get('txtValorVenda').touched || carroForm.get('txtValorVenda').dirty)">
                    <p><b>Preencha o campo "Valor de Venda"</b></p>
                </span>
            </div>
            <div class="col">
                <p-calendar formControlName="txtDataCompra" placeholder="Data de Compra"
                    [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [locale]="br"
                    dateFormat="dd/mm/yy" inputId="spanish" required>
                </p-calendar>
            </div>
            <div class="col">
                <p-calendar formControlName="txtDataVenda" placeholder="Data de Venda"
                    [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [locale]="br"
                    dateFormat="dd/mm/yy" inputId="spanish">
                </p-calendar>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col">
                <label for=""><b>Detalhes</b></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <textarea class="form-control" formControlName="txtDetalhe" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col">
                <p-checkbox formControlName="ipvaPago" binary="true" inputId="binary1"></p-checkbox>
                <b> IPVA Pago</b>
            </div>
            <div class="col">
                <p-checkbox formControlName="vendido" binary="true" inputId="binary2"></p-checkbox>
                <b> Vendido</b>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" (click)="displayModal=false" label="Cancelar"
            class="p-button-raised p-button-secondary"></button>
        <button pButton pRipple type="button" icon="pi pi-save" (click)="adicionarCarro()" label="Salvar"
            class="p-button-raised p-button-success" [disabled]="!carroForm.valid"></button>
    </ng-template>
    <span class="text-danger" *ngIf="erroForm == true">
        <h5>Sistema temporariamente indisponível.</h5>
    </span>
</p-dialog>
