<br>

<div class="col-sm-9" style="margin: 0 auto; height: 88vh">
    <p-card header="Veículos" [style]="{height: '88vh'}">
        <button pButton pRipple type="button" label="Adicionar" class="p-button-raised" icon="pi pi-save"
            (click)="showModalDialog()"></button>
    </p-card>
</div>

<p-dialog header="" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <form class="form-example" [formGroup]="carroForm">
        <div class="form-row">

            <div class="col">
                <input type="text" class="form-control" id="txtModelo" placeholder="Modelo"
                    formControlName="txtModelo" required
                    [ngClass]="{'is-invalid': carroForm.get('txtModelo').errors && (carroForm.get('txtModelo').touched || carroForm.get('txtModelo').dirty)}">
                <span class="text-danger"
                    *ngIf="carroForm.get('txtModelo').errors && (carroForm.get('txtModelo').touched || carroForm.get('txtModelo').dirty)">
                    <p><b>Preencha o campo "Modelo"</b></p>
                </span>
            </div>

            <div class="col">
                <input type="text" class="form-control" id="txtCor" placeholder="Cor"
                    formControlName="txtCor" required
                    [ngClass]="{'is-invalid': carroForm.get('txtCor').errors && (carroForm.get('txtCor').touched || carroForm.get('txtCor').dirty)}">
                <span class="text-danger"
                    *ngIf="carroForm.get('txtCor').errors && (carroForm.get('txtCor').touched || carroForm.get('txtCor').dirty)">
                    <p><b>Preencha o campo "Cor"</b></p>
                </span>
            </div>

        </div>
        <br>
        <div class="form-row">
            <div class="col">
                <p-calendar formControlName="data" [(ngModel)]="data" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [locale]="br" dateFormat="dd/mm/yy" inputId="spanish"></p-calendar>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" (click)="displayModal=false" label="Cancelar"
            class="p-button-raised p-button-secondary"></button>
        <button pButton pRipple type="button" icon="pi pi-save" (click)="displayModal=false" label="Salvar"
            class="p-button-raised p-button-success"></button>
    </ng-template>
</p-dialog>