<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="route.url != '/'">
  <a class="navbar-brand" href="#" style="margin-left: 15%;">CarAppManagement</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carro" routerLinkActive="active">Veículos</a>
      </li>
    </ul>
  </div>
</nav> -->

<p-menubar [model]="items" *ngIf="route.url != '/'">
  <button pButton pRipple type="button" label="Sair" class="p-button-outlined p-button-secondary"
    icon="pi pi-power-off" (click)="logout()"></button>
</p-menubar>